@import 'partials/colors';
@import 'partials/headings';

.flash{
  background: #F6624A;
  color: white;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 1em;
  display: none;
}
